# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

# dependencias
*.jar

*.csv
*.xls
*.xlsx
*.doc
*.docx
*.exe
*.pdf
*.txt
*.xml